  <div> <a href="/rocks"> Play Rock </a> </div>

  <div> <a href="/papers"> Play Paper </a> </div>

  <div> <a href="/scissors"> Play Scissors </a> </div>

<h2>We played <%= @player_choice %></h2>
<h2>They played <%= @computer_choice %></h2>
<h2><%= @results %></h2>
